@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
		url('./assets/fonts/Comfortaa-Light.eot') format('eot'),
		url('./assets/fonts/Comfortaa-Light.woff2') format('woff2'),
		url('./assets/fonts/Comfortaa-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
		url('./assets/fonts/Comfortaa-Regular.eot?') format('eot'),
		url('./assets/fonts/Comfortaa-Regular.woff2') format('woff2'),
		url('./assets/fonts/Comfortaa-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
		url('./assets/fonts/Comfortaa-Medium.eot?') format('eot'),
		url('./assets/fonts/Comfortaa-Medium.woff2') format('woff2'),
		url('./assets/fonts/Comfortaa-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
		url('./assets/fonts/Comfortaa-SemiBold.eot') format('eot'),
		url('./assets/fonts/Comfortaa-SemiBold.woff2') format('woff2'),
		url('./assets/fonts/Comfortaa-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: local('Comfortaa'),
		url('./assets/fonts/Comfortaa-Bold.eot') format('eot'),
		url('./assets/fonts/Comfortaa-Bold.woff2') format('woff2'),
		url('./assets/fonts/Comfortaa-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

html,
body {
	margin: 0;
	font-family: 'Comfortaa', -apple-system, BlinkMacSystemFont, 'Segoe UI',
		'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root {
	display: flex;
	width: 100%;
	min-height: 100vh;
	background-color: #1c1c1c;
}

.container {
	display: flex;
	padding: 0 5px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}
